table.o_main_table th {
    font-weight: 700 !important;
    font-family: "Montserrat", "Somar", sans-serif !important;
    background-color: #008080 !important;
    color: white !important;
}

table.o_main_table td {
    font-family: "Montserrat", "Somar", sans-serif !important;
    font-size: 12px !important;
    padding: 6px !important;
}


table.o_main_table tr:first-child th {
    font-size: 14px !important;
}

.o_table_striped {
    table:not(.o_ignore_layout_styling) {
        tr:not(:first-child) {
            // Using border-top not bottom, to manage a different border on line sections
            border-top: $border-width solid $gray-200;
        }

        tbody tr {
            &:first-child, &.o_line_section {
                border-top: $border-width solid $gray-400;
            }

            &:last-child {
                border-bottom: $border-width solid $gray-200;
            }

            &:nth-child(odd) td {
                background-color: rgba($gray-200, .5);
            }

            &.is-subtotal {
                border-bottom: $border-width solid $gray-400;
            }
        }
    }
