
.o_table_striped {
    table:not(.o_ignore_layout_styling) {
        tr:not(:first-child) {
            border-top: $border-width solid $gray-200;
        }

        tbody tr {
            &:first-child, &.o_line_section {
                border-top: $border-width solid $gray-400;
            }

            &:last-child {
                border-bottom: $border-width solid $gray-200;
            }

            &:nth-child(odd) td {
                background-color: rgba($gray-200, .5);
            }

            &.is-subtotal {
                border-bottom: $border-width solid $gray-400;
            }
        }
    }
}  /* ✅ close here */

.o_report_text {
    font-family: "Montserrat", "Somar", sans-serif !important;
    color: #008080 !important;
    font-size: 10pt !important;
}

.table-borderless {
    tbody, thead, tfoot, tr, td, th {
        border: 0 none !important;
    }
    > :not(:first-child) {
        border-top-style: none !important;
    }
}
